# Ignore everything by default
*

# Except src/, run/*.py, run/*.txt, and this file
!src/
!src/**
!.gitignore
!run/
run/*
!run/*.py
!run/*.txt

# Within src/, ignore OS/editor artifacts and binary/backup files
src/.DS_Store
src/**/.DS_Store
src/*~
src/**/*~
src/#*#
src/**/#*#
src/*.cpp_*
src/*.h_save
src/main_bk.dat
src/debug.txt
